/* Fonte(s) */

@font-face {
	font-family: 'Ubuntu Light';
	src: url('fonts/Ubuntu-L.ttf');
}
* {
	font-family: 'Ubuntu Light';
	font-size: 17px;
}
/* Chat */

#chat {
	background: rgba(205, 205, 205, 0.1);
	width: 34%;
	height: 37.8%;
	margin: 40px 10px;
}
#chat_space {
	background: rgba(240, 240, 240, 0.3);
	width: 99%;
	height: 90%;
	position: relative;
	top: 0.667%;
	left: 0.5%;
	outline: 0;
	overflow: auto;
}
#chat_space span {
	padding: 2px;
	font-weight: 400;
	text-align: justify;
}
#chat_input {
	color: rgba(240, 240, 240, 1.0);
	background: rgba(47, 96, 246, 0.4);
	width: 99%;
	height: 8%;
	margin-top: 0.666%;
	border: none;
	position: relative;
	left: 0.5%;
	outline: 0;
}
/* Box */

#box {
	background: rgba(240, 240, 240, 0.9);
	max-width: 25%;
	max-height: 40%;
	margin: -6% auto;
}
#box_title {
	background: rgba(60, 60, 60, 0.8);
	font-size: 24px;
	height: 5%;
	text-indent: 5px;
	line-height: 45px;
}
#box_message {
	padding: 3%;
	text-align: justify;
}
#box_input {
	width: 75%;
	height: 2.5%;
	margin: auto;
	outline: 0;
}
#box button {
	width: 40%;
	height: 2.9%;
	margin-top: 3%;
	margin-bottom: 2%;
	outline: 0;
}
#box_submit {
	margin-left: 7.5%;
}
#box_cancel {
	margin-left: 4.33%;
}
/* Scrollbar */

::-webkit-scrollbar {
	width: 12px;
}
::-webkit-scrollbar-thumb {
	background: rgba(60, 60, 60, 0.3);
}
::-webkit-scrollbar-thumb:hover {
	background: rgba(60, 60, 60, 0.5);
}
/* Keyframes */

@keyframes FadeIn {
	from {
		opacity: 0.0;
	}
	to {
		opacity: 1.0;
	}
}
@keyframes FadeOut {
	from {
		opacity: 1.0;
	}
	to {
		opacity: 0.0;
	}
}
